//
//                                                        ▀▀▀▀▀     ▀▀▀▀▀          ▀▀█▀▀
//                                                        ▄▀▀▀▄  ▄  ▄▀▀▀▄  ▄  ▄▀▀▀▄  █  ▄▀▀▀▄
//                                                        █   █  █  █   █  █  █   █  █  █   █
//                                                         ▀▀▀   █   ▀▀▀   █   ▀▀▀   ▀   ▀▀▀
//                                                               █      ▄▄▄█▄▄▄    █   █  
//                                                               ▀      █  █  █     █▄█
//                                                             ▀▀▀▀▀    █  █  █      ▀
//                                                                      ▀  ▀  ▀
//
// ▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>
//#include <dt-bindings/zmk/mouse.h> // &mkp LCLK a &mkp RCLK
#include <dt-bindings/zmk/pointing.h>

#define BASE  0
#define NAV   1 // + SYMBOLS
#define NUM   2
#define MOUSE 3
#define FUN   4
#define ADJ   5

//&lt {
//    flavor = "balanced";
//    quick-tap-ms = <200>;
//};

&lt {
    flavor = "hold-preferred"; // 🚀 Okamžitá reakcia vrstvy bez čakania
    tapping-term-ms = <200>;   // Ak ho tam nemáš, doplň ho, nech to nie je lenivé
    quick-tap-ms = <175>;      // Jemne ostrejší double-tap repeat
};


    //                                  ┏━━━━━━━━━━┓                                                                    ┏━━━━━━━━━━┓
    //                       ┏━━━━━━━━━━┫     2    ┣━━━━━━━━━━┳━━━━━━━━━━┓                        ┏━━━━━━━━━━┳━━━━━━━━━━┫     7    ┣━━━━━━━━━━┓
    //                       ┃     1    ┣━━━━━━━━━━┫     3    ┃     4    ┃                        ┃     5    ┃     6    ┣━━━━━━━━━━┫     8    ┃
    //            ┏━━━━━━━━━━╋━━━━━━━━━━┫    12    ┣━━━━━━━━━━╋━━━━━━━━━━┫                        ┣━━━━━━━━━━╋━━━━━━━━━━┫    17    ┣━━━━━━━━━━╋━━━━━━━━━━┓
    //            ┃     0    ┃    11    ┣━━━━━━━━━━┫    13    ┃    14    ┃                        ┃    15    ┃    16    ┣━━━━━━━━━━┫    18    ┃     9    ┃
    //            ┣━━━━━━━━━━╋━━━━━━━━━━┫    23    ┣━━━━━━━━━━╋━━━━━━━━━━┫                        ┣━━━━━━━━━━╋━━━━━━━━━━┫    28    ┣━━━━━━━━━━╋━━━━━━━━━━┫
    // ┏━━━━━━━━━━┫    10    ┃    22    ┣━━━━━━━━━━┫    24    ┃    25    ┃                        ┃    26    ┃    27    ┣━━━━━━━━━━┫    29    ┃    19    ┣━━━━━━━━━━┓
    // ┃    20    ┣━━━━━━━━━━╋━━━━━━━━━━┛          ┣━━━━━━━━━━╋━━━━━━━━━━╋━━━━━━━━━━┓  ┏━━━━━━━━━━╋━━━━━━━━━━╋━━━━━━━━━━┫          ┗━━━━━━━━━━╋━━━━━━━━━━┫    31    ┃
    // ┗━━━━━━━━━━┃    21    ┃                     ┃    32    ┃    33    ┃    34    ┃  ┃    35    ┃    36    ┃    37    ┃                     ┃    30    ┣━━━━━━━━━━┛
    //            ┗━━━━━━━━━━┛                     ┗━━━━━━━━━━┻━━━━━━━━━━┻━━━━━━━━━━┛  ┗━━━━━━━━━━┻━━━━━━━━━━┛━━━━━━━━━━┛                     ┗━━━━━━━━━━┛

/ {
    combos {
        compatible = "zmk,combos";

        combo_esc {
            bindings = <&kp ESCAPE>;
            key-positions = <0 1>;
            timeout-ms = <60>;
            require-prior-idle-ms = <120>;
        };

        enter_combo {
            bindings = <&kp ENTER>;
            key-positions = <16 17 18 19>;
            timeout-ms = <70>;
            require-prior-idle-ms = <100>;
        };

        shift_enter_combo {
            bindings = <&kp LS(ENTER)>;
            key-positions = <10 11 12 13>;
            timeout-ms = <70>;
            require-prior-idle-ms = <100>;
        };

        // 2, 3 -> Page Up
        combo_pgup {
            timeout-ms = <50>;
            key-positions = <2 3>;
            bindings = <&kp PG_UP>;
//            require-prior-idle-ms = <150>;
        };

        // 6, 7 -> Page Down
        combo_pgdn {
            timeout-ms = <50>;
            key-positions = <6 7>;
            bindings = <&kp PG_DN>;
//            require-prior-idle-ms = <150>;
        };

        // 21, 22 -> Scroll Left
        combo_scrl_left {
            timeout-ms = <50>;
            key-positions = <21 22>;
            bindings = <&msc SCRL_LEFT>;
//            require-prior-idle-ms = <150>;
        };

        // 23, 24 -> Scroll Up
        combo_scrl_up {
            timeout-ms = <50>;
            key-positions = <23 24>;
            bindings = <&msc SCRL_UP>;
//            require-prior-idle-ms = <150>;
        };

        // 27, 28 -> Scroll Down
        combo_scrl_down {
            timeout-ms = <50>;
            key-positions = <27 28>;
            bindings = <&msc SCRL_DOWN>;
//            require-prior-idle-ms = <150>;
        };

        // 29, 30 -> Scroll Right
        combo_scrl_right {
            timeout-ms = <50>;
            key-positions = <29 30>;
            bindings = <&msc SCRL_RIGHT>;
//            require-prior-idle-ms = <150>;
        };
    };

    macros {
        euro_sign: euro_sign {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_press &kp LALT>
                , <&kp KP_N0 &kp KP_N1 &kp KP_N2 &kp KP_N8>
                , <&macro_release &kp LALT>;
        };
    };

    behaviors {
        // , Shift -> ;
        comma_semi: comma_semi {
            compatible = "zmk,behavior-mod-morph";
//            label = "COMMA_SEMI";
            #binding-cells = <0>;
            bindings = <&kp COMMA>, <&kp SEMI>; // Normálne: čiarka, So Shiftom: bodkočiarka
            mods = <(MOD_LSFT|MOD_RSFT)>;       // Sleduj ľavý aj pravý Shift
        };

        // . Shift -> :
        dot_colon: dot_colon {
            compatible = "zmk,behavior-mod-morph";
//            label = "DOT_COLON";
            #binding-cells = <0>;
            bindings = <&kp DOT>, <&kp COLON>;  // Normálne: bodka, So Shiftom: dvojbodka
            mods = <(MOD_LSFT|MOD_RSFT)>;       // Sleduj ľavý aj pravý Shift
        };

//        // Pomocník: podržanie vs klepnutie pre .: ,;
//        p_ht: p_ht {
//            compatible = "zmk,behavior-hold-tap";
//            #binding-cells = <2>; // Presne toto kompilátor vyžaduje (2)
//            flavor = "tap-preferred";
//            tapping-term-ms = <200>;
//            bindings = <&kp>, <&kp>;
//        };
//
//        // . Shift -> : hold -> , hold Shift -> ;
//        dot_colon_comma_semi: dot_colon_comma_semi {
//            compatible = "zmk,behavior-mod-morph";
//            #binding-cells = <0>;
//            bindings = <&p_ht COMMA DOT>, <&p_ht SEMI COLON>;
//            mods = <(MOD_LSFT|MOD_RSFT)>;
//        };

//        // Space hold = Shift+Enter
//        sh_ret_spc: sh_ret_spc {
//            compatible = "zmk,behavior-hold-tap";
//            label = "SHIFT_ENTER_SPACE";
//            #binding-cells = <0>;
//            flavor = "balanced";
//            tapping-term-ms = <200>;
//            bindings = <&kp LS(RET)>, <&kp SPACE>;
//        };

        // ⚡ Pre Ľavý Ctrl a Ľavý Shift
        lcs: lcs {
//            label = "LEFT_CONTROL_SHIFT";
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "balanced";
            require-prior-idle-ms = <150>;
            tapping-term-ms = <280>;
            quick-tap-ms = <175>;
            bindings = <&kp>, <&kp>;
            hold-trigger-on-release;
            hold-trigger-key-positions = <5 6 7 8 9 15 16 17 18 19 26 27 28 29 30 31 35 36 37>; // Pravá strana Totemu
//            hold-while-undecided; // Blesková odozva pre myš, otestuj ci je to lepsie s alebo bez
        };

        // 🛡️ Pre Ľavý Alt a Ľavý Win
        law: law {
//            label = "LEFT_ALT_WIN";
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "balanced";
            require-prior-idle-ms = <150>;
            tapping-term-ms = <280>;
            quick-tap-ms = <175>;
            bindings = <&kp>, <&kp>;
            hold-trigger-on-release;
            hold-trigger-key-positions = <5 6 7 8 9 15 16 17 18 19 26 27 28 29 30 31 35 36 37>; // Pravá strana Totemu
        };

        // ⚡ Pre Pravý Ctrl a Pravý Shift
        rcs: rcs {
//            label = "RIGHT_CONTROL_SHIFT";
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "balanced";
            require-prior-idle-ms = <150>;
            tapping-term-ms = <280>;
            quick-tap-ms = <175>;
            bindings = <&kp>, <&kp>;
            hold-trigger-on-release;
            hold-trigger-key-positions = <0 1 2 3 4 10 11 12 13 14 20 21 22 23 24 25 32 33 34>; // Ľavá strana Totemu
//            hold-while-undecided; // Blesková odozva pre myš
        };

        // 🛡️ Pre Pravý Alt a Pravý Win
        raw: raw {
//            label = "RIGHT_ALT_WIN";
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "balanced";
            require-prior-idle-ms = <150>;
            tapping-term-ms = <280>;
            quick-tap-ms = <175>;
            bindings = <&kp>, <&kp>;
            hold-trigger-on-release;
            hold-trigger-key-positions = <0 1 2 3 4 10 11 12 13 14 20 21 22 23 24 25 32 33 34>; // Ľavá strana Totemu
        };

//        alt_tab_rev: alt_tab_rev {
//            compatible = "zmk,behavior-mod-morph";
////            label = "ALT_TAB_REVERSED";
//            #binding-cells = <0>;
//            bindings = <&kp LA(TAB)>, <&kp TAB>; // 1. Čistý stisk = Alt+Tab | 2. Ak už držíš Alt = Iba čistý Tab
//            mods = <(MOD_LALT|MOD_RALT)>;        // Sleduj, či na domovskom riadku nedržíš Alt
//            // ZMK ten stlačený Alt natvrdo vynuluje!
//        };

//        mmv_fast: mmv_fast {
//            compatible = "zmk,behavior-step-mouse-move";
//            #binding-cells = <1>;
//            delay-ms = <0>;           // Žiadne oneskorenie
//            time-to-max-ms = <300>;   // Dosiahni max rýchlosť za tretinu sekundy
//            max-speed = <1500>;       // Extrémna rýchlosť (štandard je oveľa nižší)
//            acceleration-exponent = <1>;
//        };

          // toto sa bije s funkciou mysi, skrolovanie s modifikatormi sa meni na zoom a podobne funkcie
//        scrl_combo: scrl_combo {
//            compatible = "zmk,behavior-mod-morph";
//            #binding-cells = <0>;
//            // Prvá hodnota = čisté stlačenie, Druhá hodnota = stlačenie s AKÝMKOĽVEK modifikátorom
//            bindings = <&msc SCRL_DOWN>, <&msc SCRL_UP>;
//            mods = <(MOD_LSFT|MOD_RSFT|MOD_LALT|MOD_RALT|MOD_LGUI|MOD_RGUI|MOD_LCTL|MOD_RCTL)>;
//        };

    };

    conditional_layers {
        compatible = "zmk,conditional-layers";

        tri_layer_adjust {
            if-layers = <NAV NUM>;  // Ak je aktívna vrstva 1 A ZÁROVEŇ vrstva 2...
            then-layer = <ADJ>;   // ...tak ako bonus zapni vrstvu 4 (ADJ)
        };
    };

    keymap {
        compatible = "zmk,keymap";

        // ▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄

        base_layer {
// ┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┓
            label = "BASE";
// ┗━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┛
//            ┏━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┓                         ┏━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┓
//            ┃     H     ┃     N     ┃     T     ┃     C     ┃     F     ┃                         ┃     Q     ┃     O     ┃     U     ┃     Y     ┃     V     ┃
//            ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫                         ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫
//┏━━━━━━━━━━━┫  Win / K  ┃  Alt / R  ┃  Ctrl / D ┃ Shift / B ┃     S     ┃                         ┃     X     ┃ Shift / A ┃ Ctrl / E  ┃  Alt / I  ┃  Win / L  ┣━━━━━━━━━━━┓
//┃    ESC    ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫                         ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫ SCRL_DOWN ┃
//┗━━━━━━━━━━━┫     P     ┃     J     ┃     M     ┃     Z     ┃     G     ┃                         ┃    ' "    ┃    . :    ┃    - _    ┃    , ;    ┃     W     ┣━━━━━━━━━━━┛
//            ┗━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┓ ┏━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━┛
//                                                ┃ NAV / TAB ┃ NUM / SPC ┃Mou/Shf+RET┃ ┃   ENTER   ┃ BACKSPACE ┃ FUN / DEL ┃
//                                                ┗━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━┛ ┗━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━┛
//r f d h b      g y v w z
//l a t i x      - o n e s
//j . m k q      ' u p , c
            bindings = <

                &kp R         &kp F          &kp D           &kp H   &kp B              &kp G               &kp Y         &kp V        &kp W        &kp Z
          &law LGUI L   &law LALT A   &lcs LCTRL T   &lcs LSHIFT I   &kp X              &kp MINUS   &rcs RSHIFT O  &rcs RCTRL N  &raw RALT E  &raw RGUI S
&kp ESC         &kp J    &dot_colon          &kp M           &kp K   &kp Q              &kp SQT             &kp U         &kp P  &comma_semi        &kp C  &msc SCRL_DOWN

//                                        &lt NAV TAB  &lt NUM SPC  &sh_ret_spc  &kp RET  &lt FUN BACKSPACE  &kp DELETE
                                        &lt NAV TAB  &lt NUM SPC  &lt MOUSE LS(RET)  &kp RET  &kp BACKSPACE  &lt FUN DELETE
//                                        &lt NAV TAB  &lt NUM SPC  &p_ht SPACE LS(RET)  &kp RET  &lt FUN BACKSPACE  &kp DELETE
//                                        &lt NAV TAB  &lt NUM SPC  &mt LS(RET) SPACE  &kp RET  &lt FUN BACKSPACE  &kp DELETE
            >;
        };

        // ▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄

        navigation_layer {
// ┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┓
            label = "NAV";
// ┗━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┛
//            ┏━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┓                         ┏━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┓
//            ┃     !     ┃     @     ┃     #     ┃     $     ┃     %     ┃                         ┃     ˆ     ┃     &     ┃     €     ┃     /     ┃     \     ┃
//            ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫                         ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫
//┏━━━━━━━━━━━┫    Win    ┃    Alt    ┃   Ctrl    ┃   Shift   ┃     ?     ┃                         ┃   HOME    ┃   LEFT    ┃    UP     ┃   RIGHT   ┃    END    ┣━━━━━━━━━━━┓
//┃    ` ~    ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫                         ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫  SCRL_UP  ┃
//┗━━━━━━━━━━━┫   UNDO    ┃    CUT    ┃   COPY    ┃   PASTE   ┃     |     ┃                         ┃    INS    ┃   PgUp    ┃  PgDown   ┃  SCRL_UP  ┃ SCRL_DOWN ┣━━━━━━━━━━━┛
//            ┗━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┓ ┏━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━┛
//                                                ┃           ┃           ┃           ┃ ┃   PASTE   ┃   COPY    ┃   DOWN    ┃
//                                                ┗━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━┛ ┗━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━┛

            bindings = <

              &kp EXCL      &kp AT        &kp HASH      &kp DLLR      &kp PRCNT          &kp CARET   &kp AMPS   &euro_sign   &kp SLASH     &kp BACKSLASH
              &kp LGUI      &kp LALT      &kp LCTRL     &kp LSHIFT    &kp QMARK          &kp HOME    &kp LEFT   &kp UP       &kp RIGHT     &kp END
&kp GRAVE     &kp LC(Z)     &kp LC(X)     &kp LC(C)     &kp LC(V)     &kp PIPE           &kp INSERT  &kp PG_UP  &kp PG_DN    &msc SCRL_UP  &msc SCRL_DOWN  &msc SCRL_UP

                                                        &trans    &trans    &trans    &kp LS(INS)   &kp LC(INS)   &kp DOWN
            >;
        };

        // ▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄

        numbers_layer {
// ┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┓
            label = "NUM";
// ┗━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┛
//            ┏━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┓                         ┏━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┓
//            ┃     !     ┃     ?     ┃     <     ┃     >     ┃     %     ┃                         ┃     {     ┃     7     ┃     8     ┃     9     ┃     }     ┃
//            ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫                         ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫
//┏━━━━━━━━━━━┫    Win    ┃    Alt    ┃   Ctrl    ┃   Shift   ┃     &     ┃                         ┃     (     ┃     4     ┃     5     ┃     6     ┃     )     ┣━━━━━━━━━━━┓
//┃           ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫                         ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫  NUM_PAD  ┃
//┗━━━━━━━━━━━┫     /     ┃     *     ┃     -     ┃     +     ┃     |     ┃                         ┃     [     ┃     1     ┃     2     ┃     3     ┃     ]     ┣━━━━━━━━━━━┛
//            ┗━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┓ ┏━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━┛
//                                                ┃           ┃           ┃           ┃ ┃     =     ┃     0     ┃    . ,    ┃
//                                                ┗━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━┛ ┗━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━┛

            bindings = <

              &kp EXCL  &kp QMARK  &kp LT     &kp GT      &kp PRCNT    &kp LBRC   &kp N7  &kp N8  &kp N9  &kp RBRC
              &kp LGUI  &kp LALT   &kp LCTRL  &kp LSHIFT  &kp AMPS     &kp LPAR   &kp N4  &kp N5  &kp N6  &kp RPAR
&trans        &kp SLASH &kp ASTRK  &kp MINUS  &kp PLUS    &kp PIPE     &kp LBKT   &kp N1  &kp N2  &kp N3  &kp RBKT  &kp KP_NUM

                                   &trans     &trans      &trans       &kp EQUAL  &kp N0  &dot_colon
            >;
        };

        // ▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄

        mouse_layer {
// ┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┓
            label = "MOUSE";
// ┗━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┛
//            ┏━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┓                         ┏━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┓
//            ┃           ┃           ┃           ┃           ┃           ┃                         ┃           ┃           ┃  SCRL_UP  ┃           ┃           ┃
//            ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫                         ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫
//┏━━━━━━━━━━━┫    Win    ┃    Alt    ┃   Ctrl    ┃   Shift   ┃           ┃                         ┃ SCRL_LEFT ┃ MOVE_LEFT ┃  MOVE_UP  ┃ MOVE_RIGHT┃ SCRL_RIGHT┣━━━━━━━━━━━┓
//┃           ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫                         ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫  SCRL_UP  ┃
//┗━━━━━━━━━━━┫           ┃           ┃           ┃           ┃           ┃                         ┃   MB4     ┃   LCLK    ┃   MCLK    ┃   RCLK    ┃    MB5    ┣━━━━━━━━━━━┛
//            ┗━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┓ ┏━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━┛
//                                                ┃           ┃           ┃           ┃ ┃           ┃ SCRL_DOWN ┃   DOWN    ┃
//                                                ┗━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━┛ ┗━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━┛

            bindings = <

            &trans       &trans      &trans       &none         &trans       &none           &none           &msc SCRL_UP  &none            &none
            &kp LGUI     &kp LALT    &kp LCTRL    &kp LSHIFT    &trans       &msc SCRL_LEFT  &mmv MOVE_LEFT  &mmv MOVE_UP  &mmv MOVE_RIGHT  &msc SCRL_RIGHT
    &trans  &trans       &trans      &trans       &trans        &trans       &mkp MB4        &mkp LCLK       &mkp MCLK     &mkp RCLK        &mkp MB5         &msc SCRL_UP

                                                 &trans   &trans   &trans     &trans    &msc SCRL_DOWN    &mmv MOVE_DOWN
            >;

//            bindings = <
//
//                 &sys_reset     &none  &out OUT_TOG  &none  &bt BT_CLR       &none               &none               &msc SCRL_Y(20)     &none                &none
//                 &studio_unlock &none  &none         &none  &bt BT_NXT       &msc SCRL_X(-20)    &mmv MOVE_X(-1500)  &mmv MOVE_Y(-1500)  &mmv MOVE_X(1500)    &msc SCRL_X(20)
//    &bootloader  &none          &none  &none         &none  &bt BT_PRV       &mkp MB4            &mkp LCLK           &mkp MCLK           &mkp RCLK            &mkp MB5         &bootloader
//
//                                       &trans        &trans &trans           &trans              &msc SCRL_Y(-20)    &mmv MOVE_Y(1500)
//            >;
        };

        // ▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄

        function_layer {
// ┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┓
            label = "FUN";
// ┗━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┛
//            ┏━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┓                         ┏━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┓
//            ┃   VOL-    ┃   VOL+    ┃  BRIGHT+  ┃  BRIGHT-  ┃           ┃                         ┃           ┃    F7     ┃    F8     ┃    F9     ┃    F12    ┃
//            ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫                         ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫
//┏━━━━━━━━━━━┫    Win    ┃    Alt    ┃   Ctrl    ┃   Shift   ┃           ┃                         ┃           ┃    F4     ┃    F5     ┃    F6     ┃    F11    ┣━━━━━━━━━━━┓
//┃           ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫                         ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫           ┃
//┗━━━━━━━━━━━┫PrintScreen┃ Snipping  ┃           ┃           ┃           ┃                         ┃           ┃    F1     ┃    F2     ┃    F3     ┃    F10    ┣━━━━━━━━━━━┛
//            ┗━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┓ ┏━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━┛
//                                                ┃           ┃           ┃           ┃ ┃           ┃           ┃           ┃
//                                                ┗━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━┛ ┗━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━┛

            bindings = <

              &kp C_VOL_DN  &kp C_VOL_UP  &kp C_BRI_UP  &kp C_BRI_DN   &none        &none  &kp F7  &kp F8  &kp F9  &kp F12
              &kp LGUI      &kp LALT      &kp LCTRL     &kp LSHIFT     &none        &none  &kp F4  &kp F5  &kp F6  &kp F11
&trans        &kp PSCRN     &kp LS(LG(S)) &none         &none          &none        &none  &kp F1  &kp F2  &kp F3  &kp F10  &trans

                                                 &trans     &trans      &trans    &trans  &trans  &trans
            >;
        };

        // ▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄

        adjust_layer {
// ┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┓
            label = "ADJ";
// ┗━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┛
//            ┏━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┓                         ┏━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┓
//            ┃   RESET   ┃           ┃  OUT TOG  ┃ BT_SEL 0  ┃           ┃                         ┃  BT CLEAR ┃           ┃           ┃           ┃   RESET   ┃
//            ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫                         ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫
//┏━━━━━━━━━━━┫           ┃           ┃           ┃ BT_SEL 1  ┃           ┃                         ┃           ┃  BT NEXT  ┃           ┃           ┃           ┣━━━━━━━━━━━┓
//┃  BOOTLOAD ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫                         ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫ BOOTLOAD  ┃
//┗━━━━━━━━━━━┫           ┃   UNLOCK  ┃           ┃ BT_SEL 2  ┃           ┃                         ┃           ┃  BT PREV  ┃           ┃  UNLOCK   ┃           ┣━━━━━━━━━━━┛
//            ┗━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┓ ┏━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━┛
//                                                ┃           ┃           ┃           ┃ ┃           ┃           ┃           ┃
//                                                ┗━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━┛ ┗━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━┛

            bindings = <

               &sys_reset    &none     &out OUT_TOG   &bt BT_SEL 0  &none        &bt BT_CLR   &none      &none       &none        &sys_reset
                 &none       &none        &none       &bt BT_SEL 1  &none        &none     &bt BT_NXT    &none       &none           &none
    &bootloader  &none   &studio_unlock   &none       &bt BT_SEL 2  &none        &none     &bt BT_PRV    &none    &studio_unlock     &none       &bootloader

                                                 &trans   &trans   &trans     &trans    &trans   &trans
            >;
        };

        // ▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄

    };

};
